name: Publish wiki/ to GitHub wiki
on:
  push:
    branches: [main]
    paths: [wiki/**, .github/workflows/publish-wiki-to-github-wiki.yml]
concurrency:
  group: publish-wiki-to-github-wiki
  cancel-in-progress: true
jobs:
  publish-wiki-to-github-wiki:
    environment:
      name: github-wiki
      url: ${{ steps.publish-to-github-wiki.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - id: publish-to-github-wiki
        uses: jcbhmr/publish-to-github-wiki@v1
